
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
        <h1>Current Weather for <%= city %> (<%= lat %>, <%= lon %>)</h1>
      <fieldset>
        <form action="/" method="post">
          <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
          <input type="submit" class="ghost-button" value="Get Weather">
        </form>
        <% if(temp !== null){ %>
          <p class="temperature"><%= temp %> &degC</p>
          <p class="windspeed">Wind Speed: <%= windSpeed %> m/s</p>
          <div>
                <span>Sunrise at: <%= sunrisetime %></span>
                <span>Sunset at: <%= sunsettime %></span>
          </div>
        
        <% } %>
        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
      </fieldset>
    </div>
  </body>
</html>